/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/05/2015, 09:36:59
    Author     : carlos.bruno
*/

table{
    font-family: "Tahoma","Arial";
    font-weight: bold;
  //  font-size: small;
}
#tabela{
    
    position: relative;
    left: -2px; /* posiciona a 90px para a esquerda */ 
    top: 3px; /* posiciona a 70px para baixo */

}
tbody{
    font-size: 18px;
    
}
.corpo{
    color: #ffffff;
}
body{
    width: 100%;
}
.par{
    color: #d5e6ef;
}
#titulo{
    background:  #00cccc;
    font-size: 20px;
    
}
.checkbox, .radio {
  width: 19px;
  height: 25px;
  padding: 0 5px 0 0;
  background: url(checkbox.png) no-repeat;
  display: block;
  clear: left;
  float: left;
  margin-left: 30%
}
